<ion-header [translucent]="true">
  <ion-buttons>
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-title>Registro Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
  <div class="container">
    <ion-card-content>
      <ion-input [(ngModel)]="name" label="Nombre: "></ion-input>
      <ion-input [(ngModel)]="lastName" label="Apellido: "></ion-input>
      <ion-input [(ngModel)]="usuario" label="Usuario: "></ion-input>
      <ion-input [(ngModel)]="contrasena" type="password" label="Contraseña: "></ion-input>
      <ion-input [(ngModel)]="confirmContrasena" type="password" label="Confirmar Contraseña: "></ion-input>
      

      <ion-list>
        <ion-item>
          <ion-select (ionChange)="cargarComuna()" placeholder="Seleccione region" [(ngModel)]="regionSel">
            <ion-select-option *ngFor="let i of regiones" [value]="i.id">{{i.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-select [disabled]="disabledComuna" placeholder="Seleccione comuna" [(ngModel)]="comunaSel">
            <ion-select-option *ngFor="let i of comunas" [value]="i.id">{{i.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-button (click)="onRegister()" expand="full" slot="start"> Registro </ion-button>
    </ion-card-content>
  </div>
  </ion-card>
</ion-content>
<!-- <ion-card>
  <ion-card-header>
    <img  alt="logotipo duoc"  src="assets/img/duocduoc.png" />
    <ion-card-header>
      <ion-card-title color="light">Registro</ion-card-title>
      <ion-card-subtitle color="light">Duocuc</ion-card-subtitle>
    </ion-card-header>
  </ion-card-header>
<div class="container">  
  <ion-card-content>
    <ion-input  [(ngModel)]="name" type="text" label="Nombre: "></ion-input>
    <ion-input [(ngModel)]="lastName" type="text" label="Apellido: "></ion-input>
    <ion-input [(ngModel)]="email" type="email" label="Correo: "></ion-input>
    <ion-input [(ngModel)]="password" type="password" label="contraseña: "></ion-input>
    <ion-input [(ngModel)]="confirmPassword" type="password" label="confirmar contraseña: "></ion-input>
    <br>
    <ion-button class="boton" expand="full" slot="start" (click)="onRegister()"  shape="round"> Registrarse </ion-button>
  </ion-card-content>
</div>
</ion-card> -->