ion-card{
   background-color:#033153;
   border-color: #F2A413;
   height: 100%;
}

.botonlogin{
   --background:#F2A413;
   --background-hover:#F2A413;
   margin-top: 5%;

}
ion-title{
   text-align: center;
}

h3{
   text-align: center;
   font-family: titulo;
   font-size: 30px;
}

ion-button{
   --background:#F2A413;
   --background-hover:#F2A413;
}

.container{
   color:white;
}