.regisAsig{
    
    color: white;
    background-color: #F2A413;
    margin-top: 50%;
    
}   

.boton{
    --background: #033153;
    --background-hover: #033153;

}

.infoAsig{
    height: 100%;
    
}